.movieDisplayContainer{
    position: absolute;
    /* top: 800px; */
    /* bottom: 100px; */
    /* margin-bottom: 100px; */
    /* padding-bottom: 100px; */
}

.movieDisplay{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 20px;
    /* gap-bottom: 10px; */
    /* align-items: space-between; */
    /* margin-bottom: 100px; */
    /* justify-content: space-around */
}

.movieDisplay > div{
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
    /* flex-basis: 20%; */
    justify-content: center
    /* width: 200px; */
}

.singleMovie{

}

h1{
    color:green
}

.arrayOfImages > img{
    max-width: 50vw;
    /* align-items: center; */
}

.arrayOfImagesContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between
    /* align-items: space; */
    /* justify-content: center; */
}

.arrayOfImagesContainer > img{
    padding: 5px !important;
}
/* .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;

}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;

} */

.ReactModal__Overlay--after-open{
    background-color: rgba(0, 0, 0, 0.6)!important;
    padding: 20px !important;
    /* overflow:hidden !important */
}

.ReactModal__Content--after-open{
    border-radius: 30px !important;
    background-color: black !important;
    width: 50vw !important;
    top: 7% !important;
    left: 25% !important;
    box-sizing: border-box !important;
    overflow:hidden !important;
    overflow-y: scroll !important;
    animation: createBox .5s !important;
    border: 5px !important;

}

/* ::-webkit-scrollbar{ */
    /* display:none */
/* } */

.ReactModal__Content--after-open::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;

}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.tableContainer{
    user-select: none;
    background-color: black;
}

.table{
    /* color:red; */
    text-align: left;
    font-size: 1.0rem !important;
    border-spacing: 5px;
    border-collapse: separate;
    user-select: none;
    font-family: 'Netflix Sans' !important
}
td{
    padding: 1px 20px 1px 10px !important;
    font-family: 'Netflix Sans' !important;
    font-size: 1.5rem !important;

}

td:hover{
    /* background-color: aqua; */
    /* z-index: 2; */
    text-decoration: underline;

}


.genreSelectionContainer{
    top: 75px;
    left: 50px;
    position: absolute;
    /* color:green; */
    z-index: 1;
    display: flex;
    /* align-items: center; */
    width: 80vw;
    max-height: 300px;
    background-color: transparent;
}


.tvShowOrMovie{
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    margin-right: 15px;
    color:white;
    /* position: fixed; */
}

.genreSelection{
    /* display:none */
    font-size: 1.5rem;
    height: 2.5rem;
    margin-top: 10px;
    color:white;
}

.modalForMovie{
    /* animation: createBox 5s; */
}

@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

.sliderCon{
    display: flex;
    margin-top: 500px;
}

.color1{

    
    background-color: blue;
    flex: 1 0 20%;
    color:aqua
}

.color2{
    background-color: red;
    flex: 1 0 20%;
    color:red
}

.testingasd{
    margin-top: 20%;
}



.testingImage{
    width: auto;
    height: auto;
    object-fit: scale-down;
}

.getImagesFromID{
    /* width: 20vw; */
    /* height: 100px; */
    object-fit: scale-down !important;
    /* display: flex !important; */
    /* z-index: 2; */
    flex-shrink: 0;
    padding-bottom: 10px;
}



.alreadyHaveBo{
    /* min-width: 150px !important; */
    /* max-height: 150px  !important; */
    object-fit: scale-down !important;
    /* margin: 10px !important; */
    flex-shrink: 0;
    padding-left: 2px;
    padding-right: 2px;

}

.alreadyHaveBoCon{
    /* padding: 10px !important; */
    /* margin: 10px; */
    display: flex;
}

.movieCarouselContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: space-between; */
}

.carousel {
    display: flex;
  }

.singleCarouselItem{
    display: flex !important;
    gap: 10px !important;
    /* padding: 10px !important; */
}

.movieAbsDiv{
    position: absolute;
    width: 100vw;
}

div > img {
    /* padding: 10px !important; */
}

.gridFormat{
    /* display: flex;
    justify-content: space-between;
    align-content: space-between; */
}

.genreText{
    font-size: 1.5vw;
    color: white;
    font-weight: 700;
    padding: 30px;
    /* margin-left: 60px; */
}

.rec-swipable {
    justify-content: space-between;

}

.lcUbOd {
    background-color: white !important;
    box-shadow: 0 0 1px 3px rgb(170 161 161) !important;
}

.searchStatement{
    font-size: 2rem;
    color:white;
    font-family: 'Netflix Sans';
    font-weight: 300;
    margin-top: 100px;
    margin-left: 25px;

}

.synopsisDiv{
    font-size: 2rem;
    /* text-align: center; */
    color:white
}

.topPic2{
    padding: none;
}