*{
    user-select: none

}

.unscrolledNavBar{
    display: flex;
    justify-content: space-between;
    /* font-size: 1.5rem; */
    font-size: 14px;
    flex-wrap: nowrap;
    /* background-color: black; */
    background-image: linear-gradient(rgb(20, 20, 20), transparent);
    /* position: relative; */
    z-index: 2;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 68px;
    font-family: 'Netflix Sans';
    color: #fff;
    font-weight: 600;
}

.navBarScrolled{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-size: 14px;

    flex-wrap: nowrap;
    /* background-color: black; */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(22, 22, 22));
    /* position: relative; */
    z-index: 2;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 68px;
    font-family: 'Netflix Sans';
    color: #fff;
    font-weight: 600;
}

.navBarleft{
    display: flex;
    gap: 1.2rem;
    /* background-color: red; */

    align-items: center;
    padding-left: 3rem;

}
.navBarleft > div:hover{
    color: gray;
}

.navBarright{
    gap: 1.2rem;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

.netflixLogo{
    font-size: 1.2rem ;
    /* gap: 10px; */
}

#Netflixlogoid{
    gap: 3rem;
	padding-right: 2rem;

}


  .searchBarContainer{
    display: flex;
    height: 20px;

  }

  .searchBar:focus {
    width: 100%;
  }

  .searchBar {
    padding: 0px 0px;
    margin: 0px 0;
    width: 0px;
    height: 2.5rem;
    background: black;
    color:white;
    transition: width 1s;
    box-sizing: border-box;
    align-items: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    
  }

  .searchIcon:hover{
    cursor: pointer;
  }

  .searchBarContainer{
    user-select: none
  }

  .notSelectable {
    user-select: none
}

.selectDropDown{
    color:white;
    font-size: 1.25rem;
    background-color: black;
    opacity: 1;
    user-select: none;
    font-weight: 600;
}