*{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    /* max-width: 100%; */
    overflow-x: hidden;
}

a:visited{
    color: inherit;
}

a{
    text-decoration: none;
}

a:hover{
    color:gray;
}

.unscrolledNavBar{
    display: flex;
    justify-content: space-between;
    /* font-size: 1.5rem; */
    font-size: 14px;
    flex-wrap: nowrap;
    /* background-color: black; */
    background-image: linear-gradient(rgb(20, 20, 20), transparent);
    /* position: relative; */
    z-index: 2;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 68px;
    font-family: 'Netflix Sans';
    color: #fff;
    font-weight: 600;
}

.navBarScrolled{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-size: 14px;

    flex-wrap: nowrap;
    /* background-color: black; */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(22, 22, 22));
    /* position: relative; */
    z-index: 2;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 68px;
    font-family: 'Netflix Sans';
    color: #fff;
    font-weight: 600;
}

.navBarleft{
    display: flex;
    gap: 1.2rem;
    /* background-color: red; */

    align-items: center;
    padding-left: 3rem;
    /* animation-name: testing; */
    /* animation-duration: 5s; */

}
.navBarleft > div:hover{
    color: gray;
}

.navBarright{
    gap: 1.2rem;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

.netflixLogo{
    font-size: 1.2rem ;
    /* gap: 10px; */
}

#Netflixlogoid{
    gap: 3rem;
	padding-right: 2rem;

}


  .searchBarContainer{
    display: flex;
    height: 20px;

  }

  .searchBar:focus {
    width: 160%;
    border-radius: 0px;
  }

  .searchBar {
    padding: 0px 0px;
    margin: 0px 0;
    width: 0px;
    height: 2.5rem;
    background: black;
    color:white;
    transition: width 1s;
    box-sizing: border-box;
    align-items: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }

  .searchIcon:hover{
    cursor: pointer;
  }

  .searchBarContainer{
    user-select: none
  }

  .notSelectable {
    user-select: none
}

.selectDropDown{
    color:white;
    font-size: 1.25rem;
    background-color: black;
    opacity: 1;
    user-select: none;
    font-weight: 600;
}

.soundButton{
    /* display: flex; */
    background-color: black;
    color:white;
    opacity: .7;
    width: auto;
    height: auto;
    position: absolute;
    /* top: 62%; */
    /* left: 89%; */
    bottom: 20%;
    right: 5%;
    z-index: 1;
    border:2px solid white;
    border-radius: 50% !important ;
    font-size: 1.6rem;
}

.soundIcon{
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

.backgroundImageDivContainer{
    position: relative;
    height: auto;
    /* block-size: fit-content */
    /* min-width: 1280px; */
    /* min-height: 500px; */
}

.youtubePlayerDiv{
	pointer-events: none;
    /* min-height: 100%; */
	/* margin-top: 100px; */
	/* width: 100vw; */
}

@keyframes testing {
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }

    80%{
        transform:translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

.jRFJkP,.cNNJIt{
    color: white !important;
}

.jRFJkP{
    margin-right: 10px;
}

.jRFJkP:hover:enabled{
    background-color: gray !important;
}